/*---------------- Basic Setup ----------------*/

html,
body {
	font-family: 'Poppins', sans-serif;
	color: #fff;
	font-weight: 300;
	font-size: 20px;
	text-rendering: optimizeLegibility;
	letter-spacing: 3px;
	margin: 0;
	padding: 0;
	
}

/*---------------- Header ----------------*/

header {
	position: absolute;
	background-color: transparent;
	margin-top: 20px;
	padding-top: 0;
	height: 60px;
	width: 100%;
	overflow: hidden;
}

/*---------------- Main Nav ----------------*/


.main-nav {
	display: flex;
	flex-direction: row;
	justify-content: center;
	list-style: none;

}


.main-nav li {
	display: inline-block;
	margin: 0px 60px;
	text-decoration: none;
}

.nav-btn:link,
.nav-btn:visited {
	text-decoration: none;
	color: #FFF;
	padding-bottom: 5px;
	border: 2px solid #FFF;
	border-radius: 5px;
	padding: 5px 15px;
	transition: border 0.2s, color 0.2s;
}

.nav-btn:hover,
.nav-btn:active {
    color: #9BD1F4;
    border: 2px solid #9BD1F4; 
}

/*---------------- Buy Paper Button ----------------*/

.buy-paper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	list-style: none;

}


.buy-paper li {
	display: inline-block;
	margin: 30px 30px;
	text-decoration: none;
}

.paper-btn:link,
.paper-btn:visited {
	text-decoration: none;
	color: #FFF;
	padding-bottom: 5px;
	border: 2px solid #FFF;
	border-radius: 5px;
	padding: 5px 15px;
	transition: border 0.2s, color 0.2s;
	transition: background-color 0.2s;
}

.paper-btn:hover,
.paper-btn:active {
    color: #fff;
    border: 2px solid #fff;
    background-color: #8CD867;
 
}


/*---------------- Parent Div/Flexbox ----------------*/


.flexbox {
	display: flex:
	justify-content: column;
}


/*---------------- Home Page ----------------*/


#home {
	height: 1000px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(paper-home.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;	
	background-position: top;

}



/*---------------- About Section ----------------*/



#about {
	background-color: #9BD1F4;
	height: 1000px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

#about h2 {
	word-spacing: 20px;
}


#about h3 {
	word-spacing: 30px;
}

/*---------------- Shop Section ----------------*/


#shop {
	background-color: #DB2B39;
	height: 1000px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.products {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}


.price-box {
	margin: 50px 50px;
	text-align: center;
	background-color: transparent;
	border: solid 2px #9BD1F4;
	border-radius: 5px;


}

.price > h3,
.price > p {
	margin: 0;
	padding: 5px 10px;
	text-align: center;
	border-bottom: solid 2px #9BD1F4;
}

.buy-now a {
	text-decoration: none;
	display: inline-block;
	color: #fff;
	margin: 15px 0;
}


.buy-btn:link,
.buy-btn:visited {
	text-decoration: none;
	color: #FFF;
	border: 2px solid #FFF;
	border-radius: 5px;
	padding-bottom: 5px;
	padding: 5px 15px;
	transition: background-color 0.2s, color 0.2s;
}

.buy-btn:hover,
.buy-btn:active {
    background-color: #8CD867;
    color: #fff;
}


.paper-img {
	margin-top: 10px;
	height: 100px;
	width: 100px;
}


/*---------------- Contact Section ----------------*/


#contact {
	background-color: #F87930;
	height: 1000px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}


#contact > div {
	margin: 20px 0;
}


.contact-form {
    width: 400px;
    margin: 0 auto;
}



input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

input[type=submit]{
	border-radius: 5px;
}

textarea { height: 100px; }

/*---------------- Footer ----------------*/


.social-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;

   	
}


.social-links li {
    display: inline-block;
    margin-right: 20px;
    font-size: 75%;
}

.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border-bottom: solid 1px blue;
    color: #888;
    transition: 0.2s;
}




.copyright p {
	color: grey;
	font-size: 50%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}




