html,
body {
	font-family: 'Poppins', sans-serif;
	color: #555;
	font-weight: 300;
	font-size: 20px;
	text-rendering: optimizeLegibility;
	letter-spacing: 2px;
	margin: 0;
	padding: 0;
	
}

header {
	position: absolute;
	background-color: black;
	margin-top: 0;
	padding-top: 0;
	height: 60px;
	width: 100%;
	overflow: hidden;
}

.main-nav {
	display: flex;
	flex-direction: row;
	justify-content: center;
	list-style: none;

}

.main-nav li {
	display: inline-block;
	margin: 0px 30px;
	text-decoration: none;
}

.nav-btn:link,
.nav-btn:visited {
	text-decoration: none;
	color: #FFF;
	padding-bottom: 5px;
	border: 1px solid #FFF;
	padding: 5px 15px;
	transition: border-bottom 0.2s, color 0.2s;
}

.nav-btn:hover,
.nav-btn:active {
    color: #D95945;
    border: 1px solid #D95945; 
}


