/*---------------- Basic Setup ----------------*/

html,
body {
	font-family: 'Poppins', sans-serif;
	color: #fff;
	font-weight: 300;
	font-size: 20px;
	text-rendering: optimizeLegibility;
	letter-spacing: 3px;
	margin: 0;
	padding: 0;
	
}

/*---------------- Header ----------------*/

header {
	position: absolute;
	background-color: transparent;
	margin-top: 0;
	padding-top: 0;
	height: 60px;
	width: 100%;
	overflow: hidden;
}

/*---------------- Main Nav ----------------*/


.main-nav {
	display: flex;
	flex-direction: row;
	justify-content: center;
	list-style: none;

}


.main-nav li {
	display: inline-block;
	margin: 0px 30px;
	text-decoration: none;
}

.nav-btn:link,
.nav-btn:visited {
	text-decoration: none;
	color: #FFF;
	padding-bottom: 5px;
	border: 1px solid #FFF;
	padding: 5px 15px;
	transition: border 0.2s, color 0.2s;
}

.nav-btn:hover,
.nav-btn:active {
    color: #E2EB98;
    border: 1px solid #E2EB98; 
}

/*---------------- Buy Paper Button ----------------*/

.buy-paper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	list-style: none;

}


.buy-paper li {
	display: inline-block;
	margin: 0px 30px;
	text-decoration: none;
}

.paper-btn:link,
.paper-btn:visited {
	text-decoration: none;
	color: #FFF;
	padding-bottom: 5px;
	border: 1px solid #FFF;
	padding: 5px 15px;
	transition: border 0.2s, color 0.2s;
}

.paper-btn:hover,
.paper-btn:active {
    color: #E2EB98;
    border: 1px solid #E2EB98; 
}


/*---------------- Parent Div/Flexbox ----------------*/


.flexbox {
	display: flex:
	justify-content: column;
}


/*---------------- Home Page ----------------*/


#home {
	height: 800px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(paper-home.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;	
	background-position: top;

}

h1 {
	color: #fff;
}

/*---------------- About Section ----------------*/



#about {
	background-color: blue;
	height: 800px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

#about h3 {
	word-spacing: 20px;
}

/*---------------- Shop Section ----------------*/


#shop {
	background-color: red;
	height: 800px;

}

/*---------------- Contact Section ----------------*/


#contact {
	background-color: green;
	height: 800px;

}


